# Config
config/*
!config/the_vault

# Base
patchouli_data.json
/.mixin.out
/backups
/crash-reports
/data
/DiscordIntegration-Data
/logs
/playerSnapshots
/saves
/schematics
/screenshots
/Xaero*
/icon.png
/imgui*
/.curseclient
/manifest.json
/minecraftinstance.json
/modlist.html
o_prof
/options.txt
/reauth.toml
/user*
/launcher_profiles.json
/game
/tools

# Project
.idea

# game
/game
/tools
launcher_profiles.json
/assets
/bin
/debug
/libraries
/modernfix
/otyacraftengine
/quickPlay
/runtime
/versions
/webcache2
/clientId_v2.txt
/keys.txt
/launcher_*
/options.*
/rhino.*
/treatment_tags.json
/updateSourceCache.json
/vault_soundOptions.txt
/vaultOptions.json
/everbook
/world
/emojiful

# node
node_modules
